@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.weather-container {
  width: 300px;
  height: max-content;
  min-height: 300px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
  padding: 30px;
  box-sizing: border-box;
}

.weather-container form {
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
}

.weather-container form input,
.weather-container form button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 10px;
}

.weather-container form i {
  opacity: 0.5;
}

.weather-container .result {
  padding-top: 20px;
  text-align: center;
}

.weather-container .result .name {
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.weather-container .temperature img {
  width: 150px;
  filter: drop-shadow(0 10px 50px black);
}

.weather-container .temperature figcaption {
  font-size: 3em;
}

.weather-container .description {
  padding: 10px 0 30px;
}

.weather-container ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.weather-container li {
  background-color: #f78a55;
  color: white;
  border-radius: 10px;
  padding: 20px 10px;
  background-image: linear-gradient(to bottom, transparent 50%, #0003 50%);
  font-weight: bold;
  font-size: small;
}

.weather-container ul li i {
  font-size: 2em;
  margin: 20px 0;
  display: block !important;
}

.weather-container li:nth-child(2) {
  background-color: #b56291;
}

.weather-container li:nth-child(3) {
  background-color: #48567b;
}

.weather-container.error {
  animation: errorEffect 0.3s linear 1;
}

@keyframes errorEffect {
  0% {
    transform: translate(5px, 10px);
  }
  25% {
    transform: translate(-5px, 0);
  }
  50% {
    transform: translate(7px, 1px);
  }
  75% {
    transform: translate(-3px, 6px);
  }
  100% {
    transform: translate(0, 0);
  }
}
